#modal-signUp{
    width: 416px;
    height: 700px;
    text-align: center;
    justify-content: center;
    background-color:#161616;
    border-radius: 10px;
    border-style: outset;
}
#title-signIn{
    color: white;
    size: 36px;
    text-align: left;
    margin-top: 41px;
    margin-left:33px;
    margin-bottom: 29px;
}
#form-signIn input{
    width: 350px;
    height:50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
}
#form-signIn #btn-signIn{
    margin-top: 36px;
    width: 350px;
    height: 50px;
    background-color: #AF2E1C;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
#form-signIn p{
    color: white;
}
#form-signIn p span{
    color: #AF2E1C;
}
#btn-close{
    border-style: none;
    background-color: #161616;
    color: white;
    font-size: 30px;
    margin-left: 380px;
}
#gender{
    width: 350px;
    height:50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
}